<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NekoJourney</title>

    <environment include="Development">
        <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> -->
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <!--
            CSS
            ============================================= -->
        <link rel="stylesheet" href="~/css/linearicons.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/bootstrap.css">
        <link rel="stylesheet" href="~/css/magnific-popup.css">
        <link rel="stylesheet" href="~/css/nice-select.css">
        <link rel="stylesheet" href="~/css/animate.min.css">
        <link rel="stylesheet" href="~/css/owl.carousel.css">
        <link rel="stylesheet" href="~/css/main.css">

    </environment>
    <environment exclude="Development">
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />  -->
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <!--
                CSS
                ============================================= -->
        <link rel="stylesheet" href="~/css/linearicons.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/bootstrap.css">
        <link rel="stylesheet" href="~/css/magnific-popup.css">
        <link rel="stylesheet" href="~/css/nice-select.css">
        <link rel="stylesheet" href="~/css/animate.min.css">
        <link rel="stylesheet" href="~/css/owl.carousel.css">
        <link rel="stylesheet" href="~/css/main.css">
    </environment>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/images/fav.png">

    
</head>
<body>
<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <div id="logo">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/TitleNeko.png" height="40" alt="" title="" /></a>
        </div>
        <ul class="navbar-nav mr-auto">
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-menu"><a asp-area="" asp-controller="Role" asp-action="Index">Role</a></li>
                <li class="nav-menu"><a asp-area="" asp-controller="Users" asp-action="Index">Users</a></li>
                <li class="nav-menu"><a asp-area="" asp-controller="Reviews" asp-action="Index">Reviews</a></li>
                <li class="nav-menu"><a asp-area="" asp-controller="Admins" asp-action="Index">Admins</a></li>
            }
            else if (User.IsInRole("User"))
            {
                <li class="nav-menu"><a asp-area="" asp-controller="Reviews" asp-action="Index">Reviews</a></li>
            }
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <partial name="_LoginPartial" />
    </div>
</nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        
    </div>

    <environment include="Development">
        @* <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script> *@

        <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="~/js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        <script src="~/js/easing.min.js"></script>
        <script src="~/js/hoverIntent.js"></script>
        <script src="~/js/superfish.min.js"></script>
        <script src="~/js/jquery.ajaxchimp.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.sticky.js"></script>
        <script src="~/js/jquery.nice-select.min.js"></script>
        <script src="~/js/parallax.min.js"></script>
        <script src="~/js/waypoints.min.js"></script>
        <script src="~/js/jquery.counterup.min.js"></script>
        <script src="~/js/mail-script.js"></script>
        <script src="~/js/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="~/js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        <script src="~/js/easing.min.js"></script>
        <script src="~/js/hoverIntent.js"></script>
        <script src="~/js/superfish.min.js"></script>
        <script src="~/js/jquery.ajaxchimp.min.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/jquery.sticky.js"></script>
        <script src="~/js/jquery.nice-select.min.js"></script>
        <script src="~/js/parallax.min.js"></script>
        <script src="~/js/waypoints.min.js"></script>
        <script src="~/js/jquery.counterup.min.js"></script>
        <script src="~/js/mail-script.js"></script>
        <script src="~/js/main.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
